<li id="location-<%= location.id %>" class="list-group-item d-flex justify-content-between align-items-center">
  <%= location.name %>
  <div>Empleados: <span class="badge badge-info badge-pill"><%= location.workers.count %></span></div>
</li>
